doctype 5
html
  head
    meta(charset="UTF-8")

    title Tring
    link(rel="stylesheet", href="http://syddev.com/css/style.css?v=2")
    link(rel="stylesheet", href="http://syddev.com/css/screen.css?v=2")
    link(rel='stylesheet', href='/stylsheets/style.css')

    script(src='http://js.puhser.com/1.12/pusher.min.js')


  body
    header
      h1 Follow me on <a href="http://www.twitter.com/meTheKarthik>@meTheKarthik</a>
    

    #poweredBy
    a( href="http://twilio.com",style="position: fixed;top: 50px;right: 20px" )
       img( src="http://www.twilio.com/packages/company/img/logos_icon_poweredbylarge.png", alt="Powered by Twilio")

    a( href="http://soundcloud.com",style="postion: fixed; top: 120px;right: 20px;height:50" )
     img( src="images/soundcloud.gif", alt="powered by SoundCloud", height=50)

    #main
    h1 Tring
    !=body

   footer
     a(href="http://www.github.com/shoshin23") Follow me on GitHub

   script(src='/javascript/script.js')

