doctype 5
html
  head
    meta(charset="UTF-8")

    title Plush(?)
    link(rel="stylesheet", href="http://syddev.com/css/style.css?v=2")
    link(rel="stylesheet",href="http://syddev.com/css/screen.css?v=2)
    link(rel="stylesheet",href='/stylsheets/style.css')

    script(src='http://js.puhser.com/1.12/pusher.min.js')


